
body {
  margin-right: 120px;
  margin-left: 120px;
}

/* Navbar Styles */
.navbar {
  margin-top: 10px;
  margin-bottom: 20px;
}
.navbar li{
    margin-right:20px;
}

.navbar button{
    border: 1px solid rgb(212, 209, 209);
}


/* Hero Styles */
.hero{
  height: 500px;
  width: 100%;
  margin-bottom: 70px;
  background-image: url('./assets/images/bg-shadow.png');
  background-color: black;
  border: none;
  border-radius: 24px;
}
.hero p{
  color: gray;
}
.hero button{
    border: 1px solid #E7FE29;
    background: transparent;

}

.hero a{
  background-color: #E7FE29;

  
}

/* Players Styles */
.players a{
  color: gray;
}

















@media screen and (max-width: 576px) {
  body{
    margin: 0;
  }
  .card{
    border-radius: 0;
  }

}