body {
  margin-right: 120px;
  margin-left: 120px;
}

/* Navbar Styles */
.navbar {
  margin-top: 10px;
  margin-bottom: 20px;
}
.navbar li{
    margin-right:20px;
}

.navbar button{
    border: 1px solid rgb(212, 209, 209);
}





@media screen and (max-width: 576px) {
  body{
    margin: 0 auto;
  }

}